<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InMotionGIT.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InMotionGIT.Utils.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>gfgf</value>
            </setting>
            <setting name="CompareStaticFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareStaticProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComparePrivateProperties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComparePrivateFields" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareChildren" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Caching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClearCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxDifferences" serializeAs="String">
                <value>1</value>
            </setting>
        </InMotionGIT.Utils.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
