<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="FrontOfficeConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.12)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=TIMEDEV)));User ID=FRONTOFFICE;Password=frontoffice;Min Pool Size=1;Incr Pool Size=1;Decr Pool Size=1;Connection Lifetime=15;Statement Cache Size=100;" providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>
	<appSettings>
		<add key ="Cache.Type" value="redis" />
		<add key="Cache.Redis.ConnectionString" value="localhost:6379,password=1821"/>
		<add key="InMotionGIT.Privileged.Access.Security.Provider" value=""/>
		<add key="InMotionGIT.Privileged.Access.Security.Pattern" value="{Password}"/>
		<add key="InMotionGIT.Privileged.Access.Security.Dummy" value="true"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.AppID" value="Test"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.ConnectionPort" value="385"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.ConnectionTimeout" value="60"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.Safe" value="60"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.Folder" value="60"/>
		<add key="InMotionGIT.Privileged.Access.Security.CyberArk.Reason" value="60"/>
		<!--Permite desactivar o no la activación automática de usuario tipo agentes-->
		<add key="ActivateAgentValidation" value="true"/>
		<!--Windows Services Scheduler-->
		<add key="InMotionGIT.Scheduler.ServerIP" value="localhost"/>
		<!--FrontOffice Security-->
		<add key="FrontOffice.Security.Doman.Name" value="easeccs"/>
		<!--BackOffice Services-->
		<!-- Ruta usada para almacenar los archivo de cache -->
		<add key="Path.Cache" value="C:\VisualTimeNet\Cache"/>
		<!-- Development, Quality, Production -->
		<add key="Working.Mode" value="Development"/>
		<!-- Options: Policy.Setup,Policy.CoverageRating,Policy.Load / None,None,None -->
		<add key="Track.Mode" value="None,None,None"/>
		<!-- None, OnDemand, FullCaching -->
		<add key="Product.Rating.Cache.Mode" value="None"/>
		<!-- Create, Load, Create/Load -->
		<add key="Cache.Mode" value="None/None"/>
		<!--End BackOffice Services-->
		<!--Frontoffice Trace/Log/Errors-->
		<!-- Habilita (True) o no (False) la creación de traza en el código -->
		<add key="FrontOffice.Debug" value="True"/>
		<!-- Habilita (True) o no (False) la creación de traza por cual quien acceso a datos por medio de la Liberia DataAccessLayer -->
		<add key="DataAccessLayer.Debug" value="True"/>
		<!-- Habilita (True) o no (False) el hecho que se incluya el detalle del httpcontext en el log del error -->
		<add key="FrontOffice.Debug.Detail" value="False"/>
		<!-- Habilita que la traza sea creada en otro hilo de ejecución (MultiThread) o no (Single)  -->
		<add key="FrontOffice.Trace.Mode" value="MultiThread"/>
		<!-- Habilita (True) o no (False) la creación una sección donde trata de obtener el los datos del método de llamado -->
		<add key="DataAccessLayer.Debug.DetailsCall" value="True"/>
		<!-- Indica si la traza solo se debe hace en disco (File) o si adicionalmente se hara en la base de de datos -->
		<add key="FrontOffice.Debug.Mode" value="File"/>
		<!-- Prefijo utilizado en los archivos creados para manejo de log de errores, trazas o advertencias. -->
		<add key="Logs.Prefix" value="CommonTest"/>
		<!-- Ruta usada para almacenar los archivo generado por el llamado a traza, error, warnings usando la clase LogHandler -->
		<add key="Path.Logs" value="C:\VisualTIMENet\Temp\logs"/>
		<!--End Frontoffice Trace/Log/Errors-->
		<!--Frontoffice DataAccess-->
		<!-- Permite habilitar el modo de ejecución del servicio de datos, 'Local' para ejecutar de forma directa o 'Remote' para ejecutar por medio de webservice -->
		<add key="DataManager.Mode" value="remote"/>
		<add key="Core.Mapper" value="BackOfficeConnectionString,Linked.LatCombined,Linked.LatCombinedTMP"/>
		<add key="DataAccessLayer.Debug.Proxy" value="true"/>
		<add key="Linked.FrontOffice.DateFormat" value="dd/MM/yyyy"/>
		<add key="Linked.FrontOffice.Owner" value="FRONTOFFICE."/>
		<add key="Linked.LatCombined.DateFormat" value="dd/MM/yyyy"/>
		<add key="Linked.LatCombined.Owner" value="INSUDB."/>
		<add key="Linked.Underwriting.DateFormat" value="dd/MM/yyyy"/>
		<add key="Linked.Underwriting.Owner" value="UNDERWRITING."/>
		<add key="Linked.Address.DateFormat" value="dd/MM/yyyy"/>
		<!--End Frontoffice DataAccess-->
		<!--Security Encryptions-->
		<add key="Security.Key" value="FD109115ABDA0FCA1A623D1B016BA909"/>
		<!--128/192/256-->
		<add key="Security.Size" value="128"/>
		<!--Multi CIA-->
		<add key="BackOffice.IsMultiCompany" value="True"/>
		<add key="BackOffice.CompanyDefault" value="1"/>
		<add key="ScriptVersionNo" value="10"/>
		<add key="GeneralExceptionUnhandled" value="False"/>
		<add key="WebApplicationPath" value="C:\VisualTIMENet\WebApplication"/>
		<add key="AssemblyPath" value="C:\VisualTIMENet\WebApplication\Bin"/>
		<add key="ErrorsPath" value="C:\VisualTIMENet\WebApplication\Errors"/>
		<add key="GeneratePath" value="C:\VisualTIMENet\WebApplication\generated"/>
		<add key="WidgetsPath" value="C:\VisualTIMENet\WebApplication\dropthings\widgets"/>
		<add key="WidgetsImagePath" value="C:\VisualTIMENet\WebApplication\images\dropthings"/>
		<add key="WidgetsImageBackOfficePath" value="C:\VisualTIMENet\WebApplication\images\BackOfficeMenu"/>
		<add key="RepositoryPath" value="C:\VisualTIMENet\WebApplication\repository"/>
		<add key="BackOfficeConnectionString.Owner" value="INSUDB."/>
		<add key="BackOfficePath" value="VTimeNet"/>
		<add key="BackOfficeMenuPath" value="True"/>
		<add key="DefaultPageLayoutType" value="3"/>
		<add key="MenuImagesExtensionModule" value="gif"/>
		<add key="MenuImagesExtension" value="gif"/>
		<add key="Logging" value="False"/>
		<add key="Path.Images" value="C:\VisualTIMENet\WebApplication\images"/>
		<add key="Path.Extensions" value="C:\VisualTIMENet\Extensions"/>
		<add key="Path.Uploads" value="C:\VisualTIMENet\Temp\Uploads"/>
		<add key="Url.WebApplication" value="http://40.117.79.124"/>
		<add key="Url.BackOffice" value=""/>
		<add key="Url.Form" value="/generated"/>
		<add key="Url.Uploads" value="/Uploads"/>
		<add key="Generate.DummyAssembly" value="True"/>
		<add key="Path.Workbench.Synch" value="C:\VisualTIMENet\WorkbenchSynch"/>
		<!-- BackOffice Options -->
		<add key="BackOfficeDelay" value="500"/>
		<add key="BackOfficeExtraDelay" value="1000"/>
		<add key="BackOfficeConfigurationFile" value="C:\VisualTIMENet\Configuration\VisualTIMEConfig.xml"/>
		<add key="BackOffice.Path.Report" value="C:\VisualTIMENet\WebApplication\VTimeNet\reports"/>
		<!-- Country Options: Oficial, Chile -->
		<add key="CountryName" value="Chile"/>
		<!-- CountryCode Options: 56 -->
		<add key="CountryCode" value="56"/>
		<!-- Clients Options: -->
		<add key="ClientName" value="Oficial"/>
		<add key="Nationality.Default" value="1"/>
		<add key="AuditUserIdentify" value="1502"/>
		<add key="WorkflowRuntime.Mode" value="Local"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.0-99.0.0.0" newVersion="4.112.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<client>
			<!--<endpoint address="https://dev-spv.visualtime.cl:8085/FrontOffice/DataManager.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" contract="DataManager.IDataManager" name="BasicHttpBinding_IDataManager" />-->
			<endpoint address="http://localhost:64439/DataManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="DataManager.IDataManager" name="BasicHttpBinding_IDataManager"/>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
					<readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
				<binding name="BasicBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9000000" maxBufferSize="9000000" maxReceivedMessageSize="9000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<netNamedPipeBinding>
				<binding name="Binding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
					<security mode="Transport">
						<transport protectionLevel="EncryptAndSign"/>
					</security>
				</binding>
			</netNamedPipeBinding>
			<wsHttpBinding>
				<binding name="wsHttpEndpointBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9000000" maxReceivedMessageSize="9000000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
			<webHttpBinding>
				<binding name="corsBinding" crossDomainScriptAccessEnabled="true">
					<security mode="None"/>
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="GenericServiceBehavior" name="InMotionGIT.Common.Services.DataManager">
				<endpoint address="" binding="basicHttpBinding" contract="InMotionGIT.Common.Services.Interfaces.IDataManager"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RESTBehavior">
					<dataContractSerializer maxItemsInObjectGraph="6553600"/>
					<webHttp helpEnabled="true"/>
				</behavior>
				<behavior name="corsBehavior">
					<!-- Para colocar los servicios de tipo REST con preflight calls, descomentar la siguiente linea -->
					<!-- Adicional colocar el METHOD de la interfaz en "*" -->
					<!-- <webHttp helpEnabled="true" /> -->
					<!-- Para que los cliente puedan hacer llamadas tipo jsonp desactivar la siguiente casilla -->
					<!-- Adicional colocar el METHOD de la interfaz en "GET" -->
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="GenericServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<!--Service Behaviors para canal seguro-->
				<behavior name="httpsServiceBehavior">
					<serviceMetadata httpsGetEnabled="true" httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceCredentials>
						<serviceCertificate findValue="www.inmotiontools.com" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
					</serviceCredentials>
				</behavior>
				<behavior name="TransferServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
